<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Document</title>
  </head>
  <body>
    <!------------------------------------------------------------------------------------------------>
    <div class="navbar">
      <span></span>
      <div class="pulse_logo">
        <a href="/"> <img src="./../imgs/pulse-logo.png" alt="" /></a>
      </div>
      <div class="nav_menu">
        <ul class="nav_items">
          <li class="nav-item"><a href="/">Home</a></li>
          <li class="nav-item"><a href="/aboutus">About</a></li>
          <li class="nav-item"><a href="/events">Events</a></li>
          <li class="nav-item"><a href="/gallery">Gallery</a></li>
          <li class="nav-item"><a href="/blood">Blood</a></li>
          <li class="nav-item"><a href="/team">Team</a></li>
          <li class="nav-item"><a href="/contactus">Contact</a></li>
          <% if(typeof session.user === 'undefined' || !session.user) {%>
          <li class="nav-item"><a href="/signin">Sign in</a></li>
          <li class="nav-item"><a href="/signup">Sign up</a></li>
          <%}%> <% if(typeof session.user !== 'undefined' && session.user) {%>
          <li class="nav-item"><a href="/profile">Profile</a></li>
          <li class="nav-item"><a href="/logout">Logout</a></li>

          <%}%>
          <li>
            <ul class="socialmedia-icon">
              <li class="socialmedia_icons">
                <a href="#">
                  <ion-icon name="logo-instagram"></ion-icon>
                </a>
              </li>
              <li class="socialmedia_icons">
                <a href="#">
                  <ion-icon name="logo-facebook"></ion-icon>
                </a>
              </li>
              <li class="socialmedia_icons">
                <a href="#">
                  <ion-icon name="logo-linkedin"></ion-icon>
                </a>
              </li>
              <li class="socialmedia_icons">
                <a href="#">
                  <ion-icon name="logo-twitter"></ion-icon>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="menu-btn">
        <div class="menu-btn-burger"></div>
      </div>
    </div>
    <!------------------------------------------------------------------------------------------------>
    <div class="description">
      <div class="logo">Gallery</div>
      <p>
        Welcome to the vibrant visual journey of our past college fests! Explore
        the moments that define the spirit of Zrotriya, the annual extravaganza
        of the Department of Electronics and Communication Engineering [ECE].
        Dive into the pulsating energy, creativity, and camaraderie captured
        through our lenses.
      </p>
    </div>

    <div class="swiper slider slider_main">
      <div class="swiper-wrapper slier__wrapper">
        <div class="swiper-slide slider__item">
          <div
            class="slider__img"
            data-swiper-parallax="20%"
            style="background-image: url(/imgs/gallery/1.jpg)"
          ></div>
        </div>
        <div class="swiper-slide slider__item">
          <div
            class="slider__img"
            data-swiper-parallax="30%"
            style="background-image: url(/imgs/gallery/2.jpg)"
          ></div>
        </div>
        <div class="swiper-slide slider__item">
          <div
            class="slider__img"
            data-swiper-parallax="20%"
            style="background-image: url(/imgs/gallery/3.jpg)"
          ></div>
        </div>
        <div class="swiper-slide slider__item">
          <div
            class="slider__img"
            data-swiper-parallax="30%"
            style="background-image: url(/imgs/gallery/4.jpg)"
          ></div>
        </div>
        <div class="swiper-slide slider__item">
          <div
            class="slider__img"
            data-swiper-parallax="20%"
            style="background-image: url(/imgs/gallery/5.jpg)"
          ></div>
        </div>
        <div class="swiper-slide slider__item">
          <div
            class="slider__img"
            data-swiper-parallax="30%"
            style="background-image: url(/imgs/gallery/6.jpg)"
          ></div>
        </div>
        <div class="swiper-slide slider__item">
          <div
            class="slider__img"
            data-swiper-parallax="20%"
            style="background-image: url(/imgs/gallery/7.jpg)"
          ></div>
        </div>
        <div class="swiper-slide slider__item">
          <div
            class="slider__img"
            data-swiper-parallax="30%"
            style="background-image: url(/imgs/gallery/8.jpg)"
          ></div>
        </div>
        <div class="swiper-slide slider__item">
          <div
            class="slider__img"
            data-swiper-parallax="20%"
            style="background-image: url(/imgs/gallery/9.jpg)"
          ></div>
        </div>
        <div class="swiper-slide slider__item">
          <div
            class="slider__img"
            data-swiper-parallax="20%"
            style="background-image: url(/imgs/gallery/10.jpg)"
          ></div>
        </div>
        <div class="swiper-slide slider__item">
          <div
            class="slider__img"
            data-swiper-parallax="20%"
            style="background-image: url(/imgs/gallery/11.jpg)"
          ></div>
        </div>
        <div class="swiper-slide slider__item">
          <div
            class="slider__img"
            data-swiper-parallax="20%"
            style="background-image: url(/imgs/gallery/12.jpg)"
          ></div>
        </div>
        <div class="swiper-slide slider__item">
          <div
            class="slider__img"
            data-swiper-parallax="20%"
            style="background-image: url(/imgs/gallery/13.jpg)"
          ></div>
        </div>
        <div class="swiper-slide slider__item">
          <div
            class="slider__img"
            data-swiper-parallax="20%"
            style="background-image: url(/imgs/gallery/14.jpg)"
          ></div>
        </div>
        <div class="swiper-slide slider__item">
          <div
            class="slider__img"
            data-swiper-parallax="20%"
            style="background-image: url(/imgs/gallery/15.jpg)"
          ></div>
        </div>
        <div class="swiper-slide slider__item">
          <div
            class="slider__img"
            data-swiper-parallax="20%"
            style="background-image: url(/imgs/gallery/16.jpg)"
          ></div>
        </div>
        <div class="swiper-slide slider__item">
          <div
            class="slider__img"
            data-swiper-parallax="20%"
            style="background-image: url(/imgs/gallery/17.jpg)"
          ></div>
        </div>
        <div class="swiper-slide slider__item">
          <div
            class="slider__img"
            data-swiper-parallax="20%"
            style="background-image: url(/imgs/gallery/18.jpg)"
          ></div>
        </div>
        <div class="swiper-slide slider__item">
          <div
            class="slider__img"
            data-swiper-parallax="20%"
            style="background-image: url(/imgs/gallery/19.jpg)"
          ></div>
        </div>
        <div class="swiper-slide slider__item">
          <div
            class="slider__img"
            data-swiper-parallax="20%"
            style="background-image: url(/imgs/gallery/20.jpg)"
          ></div>
        </div>
        <div class="swiper-slide slider__item">
          <div
            class="slider__img"
            data-swiper-parallax="20%"
            style="background-image: url(/imgs/gallery/21.jpg)"
          ></div>
        </div>
      </div>
    </div>

    <div class="swiper slider slider_bg">
      <div class="swiper-wrapper slier__wrapper">
        <div class="swiper-slide slider__item">
          <div
            class="slider__img"
            data-swiper-parallax="20%"
            style="background-image: url(images/1.jpg)"
          ></div>
        </div>
        <div class="swiper-slide slider__item">
          <div
            class="slider__img"
            data-swiper-parallax="30%"
            style="background-image: url(images/2.jpg)"
          ></div>
        </div>
        <div class="swiper-slide slider__item">
          <div
            class="slider__img"
            data-swiper-parallax="20%"
            style="background-image: url(images/3.jpg)"
          ></div>
        </div>
        <div class="swiper-slide slider__item">
          <div
            class="slider__img"
            data-swiper-parallax="30%"
            style="background-image: url(images/4.jpg)"
          ></div>
        </div>
        <div class="swiper-slide slider__item">
          <div
            class="slider__img"
            data-swiper-parallax="20%"
            style="background-image: url(images/5.jpg)"
          ></div>
        </div>
        <div class="swiper-slide slider__item">
          <div
            class="slider__img"
            data-swiper-parallax="30%"
            style="background-image: url(images/6.jpg)"
          ></div>
        </div>
        <div class="swiper-slide slider__item">
          <div
            class="slider__img"
            data-swiper-parallax="20%"
            style="background-image: url(images/7.jpg)"
          ></div>
        </div>
        <div class="swiper-slide slider__item">
          <div
            class="slider__img"
            data-swiper-parallax="30%"
            style="background-image: url(images/8.jpg)"
          ></div>
        </div>
        <div class="swiper-slide slider__item">
          <div
            class="slider__img"
            data-swiper-parallax="20%"
            style="background-image: url(images/9.jpg)"
          ></div>
        </div>
      </div>
    </div>

    <script src="/scripts/libs/swiper-bundle.min.js"></script>
    <script src="/scripts/libs/app.js"></script>
  </body>
</html>
